div.content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: ;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: ;
}
body{
    background-color: ;
}
header{
    background-color: ;
}
nav a:hover{
    background-color: ;
    color: ;
}
.book{
    background-color: ;
    color: ;
}
.join{
    background-color: ;
    color: ;
}
.book:hover{
    background-color: ;
    color: ;
}
.join:hover{
    background-color: ;
    color: ;
}
.msg{
    background-color: ;
}
footer{
    background-color: ;
}