nav {
    background-color: #2E8A4D;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    grid: 2/3;
}
nav  {
    list-style-type: none;
}
nav a {
    padding:1em;
    min-width: 120px;
    padding: 10px;
}
nav a:link, nav a:visited {
    color: #F3E3CE;
}
nav a:hover {
    color: #F3E3CE;
    background-color: #BA1B1D;
}
header {
    display: grid;
    grid-template-columns: 500px 1fr;
}
footer {
    background-color: #243D6A;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div .fhsites {
    display: grid;
}
.fhsites {
    grid-template-columns: 1fr 1fr 1fr;
}
.familysearchlogofooter {
    height: 200px;
    width: 100px;
}
.ancestrylogofooter {
    height: 200px;
    width: 100px;
}
#logo_link{
    justify-self: center;
    align-self: center;
}
#background{
    background-color: #87C09B;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
body{
    background-color: #D1FAFF;
    margin: 0;
    padding: 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
