nav {
    background-color: #2E8A4D;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}
nav  {
    list-style-type: none;
}
nav a {
    padding:1em;
    min-width: 120px;
    padding: 10px;
}
nav a:link, nav a:visited {
    color: #F3E3CE;
}
nav a:hover {
    color: #F3E3CE;
    background-color: #BA1B1D;
}
header {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
footer {
    display: grid;
}
.fhsites {
    grid-template-columns: 1fr 1fr 1fr;
}
